body {
  background-color: rgba(59, 130, 246, 0.18);
}

.container {
  text-align: center;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
}

table {
  width: 100% !important;
  border-collapse: separate;
  border-spacing: 0;
}

.table-wrapper {
  max-height: calc(100vh - 275px);
  overflow: auto;
  border: 1px solid black;
  border-radius: 6px;
  position: relative;
  scrollbar-gutter: stable;
}


.table-wrapper::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px;
}


table thead th {
  position: sticky;
  top: 0;
  background-color: #dbeafe;
  color: #1e3a8a;
  z-index: 10;
  border-bottom: 2px solid black !important;
  opacity: 1;
}

tr,
th,
td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
}

tr>*:last-child {
  border-right: none;
}

table tbody tr:last-child td {
  border-bottom: none;
}

table>thead>tr>th {
  text-align: center;
  margin-inline-start: 5px !important;
  padding-inline-start: 5px !important;
}

table>tbody>tr>td {
  text-align: start;
  margin-inline-start: 5px !important;
  padding-inline-start: 5px !important;
}

table>thead>tr>th:first-child {
  width: 10%;
}


table>thead>tr>th:nth-child(2) {
  width: 60%;
}


table>thead>tr>th:nth-child(3),
table>tbody>tr>td:last-child {
  width: 30%;
  white-space: nowrap;
  text-align: center;
  padding-right: 15px;
  /* Leave space for the vertical scrollbar */
}


.action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}


#todoForm {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 1%;
}


.lang-btn {
  cursor: default;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
  background: #EFEFEF;
  color: black;

}


.btn {

  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
  background: white;
  color: black;

  cursor: default;



  /* background: #EFEFEF; */



}

select {
  border: 1px solid grey;
}